<plugin name='activiti' version='5.9' grailsVersion='2.0.0 &gt; *'>
  <author>Lim Chee Kin</author>
  <authorEmail>limcheekin@vobject.com</authorEmail>
  <title>Grails Activiti Plugin - Enabled Activiti BPM Suite support for Grails</title>
  <description>
 Grails Activiti Plugin is created to integrate Activiti BPM Suite and workflow system to Grails Framework. 
 With the Grails Activiti Plugin, workflow application can be created at your fingertips! 

 Project Site and Documentation: http://code.google.com/p/grails-activiti-plugin/
 Source Code: https://github.com/limcheekin/activiti
 Support: https://github.com/limcheekin/activiti/issues
 Discussion Forum: http://groups.google.com/group/grails-activiti-plugin
</description>
  <documentation>http://grails.org/plugin/activiti</documentation>
  <type>ActivitiGrailsPlugin</type>
  <resources>
    <resource>org.grails.activiti.TaskController</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='Activiti' url='https://maven.alfresco.com/nexus/content/groups/public/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <test>
      <dependency group='org.subethamail' name='subethasmtp-wiser' version='1.2' />
      <dependency group='org.subethamail' name='subethasmtp-smtp' version='1.2' />
    </test>
    <compile>
      <dependency group='org.activiti' name='activiti-engine' version='5.12' />
    </compile>
    <runtime>
      <dependency group='org.activiti' name='activiti-spring' version='5.12' />
      <dependency group='javax.mail' name='mail' version='1.4.1' />
    </runtime>
  </dependencies>
  <plugins>
    <build>
      <plugin group='org.grails.plugins' name='release' version='2.0.3' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>